.work-container {
  max-width: 832px;
}

.work-inner {
  padding-top: 56px;
  padding-bottom: 56px;
}

.work-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.work-text-box {
  max-width: 719px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.work-text {
  margin: 0;
}

.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 48px;
}

.work-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 48px;
}

.work-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.work-active-item {
  margin-bottom: 0;
}

.work-img {
  width: 300px;
  height: 278px;
}

.work-item-info {
  max-width: 461px;
}

.work-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 8px;
}

.work-item-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.work-button {
  display: block;
  margin: 0 auto;
}

.button {
  @include btn;

}

@media only screen and (max-width: 620px) {
  .work-item {
    flex-direction: column;
    text-align: center;

    img {
      height: 150px;
      object-fit: contain;
    }
  }
  .work-item:nth-child(2n) {
    flex-direction: column;
  }

  .work-inner {
    text-align: center;
  }
}
